footer(class="flex flex-row gap-2 text-gray-800")
  span &copy; Copyright #{new Date().getFullYear()}
  span •
  span
    a(href="https://github.com/MR-Addict/nodejs-scheduled-tasks" class="underline") Github Source